extend ../../pug/global/_head.pug
block css__estilos
   link(rel="stylesheet", href="./main.css")
block contenido
   include ../../pug/components/_header.pug
   script(src="../../js/header/header.js")
