extend ../../pug/global/_head.pug
block css__estilos
   link(rel="stylesheet", href="./main.css")
block contenido
   include ../../pug/components/_header.pug
   include ../../pug/components/_menu-in-mobil.pug
   include ../../pug/components/_menu-accout-desktop.pug
   include ../../pug/components/_shopping-cart.pug
   script(src="../../js/main.js")
