/* COLOR VARIABLES */

$Ys-primary-color: #acd9b2;
$Ys-b-color: #ffffff;
$Ys-secondary-color: #797979;
$Ys-secondary-color-font: #C7C7C7;
$Ys-background-color-labels: #f7f7f7;
$Ys-black: #000000;
$Ys-white: #ffffff;
$Ys-border-color: #979797;


/* FONT SIZE VARIABLES */

$Ys-fs14: 1.4rem;
$Ys-fs15: 1.5rem;
$Ys-fs16: 1.6rem;
$Ys-fs17: 1.7rem;
$Ys-fs18: 1.8rem;
$Ys-fs19: 1.9rem;
$Ys-fs20: 2.0rem;
$Ys-fs21: 2.1rem;
$Ys-fs22: 2.2rem;
$Ys-fs25: 2.5rem;
$Ys-fs30: 3.0rem;