//compmente headers
header.c-header.o-header
    img.c-header__logo-hamburger(src="../../assets/icons/icon_menu.svg", alt="menu hamburgesa")
    img.c-header__logo-yard-sale(src="../../assets/img/logo_yard_sale.svg", alt="logo yard-sale")
    .c-header__menu-lista
        .c-header__menu-lista-item.c-header__menu-lista-item--verde-con-borde All
        .c-header__menu-lista-item Clothes
        .c-header__menu-lista-item Electronics
        .c-header__menu-lista-item Furniture
        .c-header__menu-lista-item Toys
        .c-header__menu-lista-item Others
    .c-header__menu-singin
        .c-header__menu-singin-item.c-header__menu-singin-item--hiden Sing in
        .c-header__menu-singin-item.c-header__menu-singin-item--color-negro barriosloayza@gmail.com
    img.c-header__icon-carrito(src="../../assets/icons/icon_shopping_cart_notification.svg", alt="carrito")