.c-menu-account-desktop.o-container-menu.is-hiden.js-menu-account-desktop
    a.c-menu-account-desktop__item(href="#") My orders
    a.c-menu-account-desktop__item(href="#") My account
    .c-menu-account-desktop__item.c-menu-account-desktop__item--linea
    a.c-menu-account-desktop__item.c-menu-account-desktop__item--texto-verde.js-menu-account-desktop__singout Sing out