.c-menu-mobil.is-hiden.js-menu-mobil
    a(href="#").c-menu-mobil__icono-cerrar.js-cerrar-menu-mobil
        img.menu-mobil__icono-cerrar-item(src="../../assets/icons/icon_close.png", alt="" )
    .c-menu-mobil__menu
        span.c-menu-mobil__menu-item.c-menu-mobil__menu-item--titulo CATEGORIES
        a(href="#").c-menu-mobil__menu-item All
        a(href="#").c-menu-mobil__menu-item Clothes
        a(href="#").c-menu-mobil__menu-item Electronic
        a(href="#").c-menu-mobil__menu-item Furnitures
        a(href="#").c-menu-mobil__menu-item Toys
        a(href="#").c-menu-mobil__menu-item Others
    .c-menu-mobil__linea
    .c-menu-mobil__menu-account
        a.c-menu-mobil__account-item(href="#") My orders
        a.c-menu-mobil__account-item(href="#") My account
    .c-menu-mobil__menu-singin
        a.c-menu-mobil__singin-item.is-hiden.js-menu-mobil-item-singin(href="#") Sing in
        a.c-menu-mobil__singin-item.c-menu-mobil__singin-item--texto-negro.js-menu-mobil-item-email(href="#") barriosloayza@gmail.com
        a.c-menu-mobil__singin-item.js-menu-mobil-item-singout(href="#") Sing out