.product-card
    img.product-card__image(src="../../assets/img/produc-img.jpg", alt="")
    .product-card__product-info-container
        .product-card__text-container
            span.product-card__cost $120.00
            span.product-card__bike Bike
        figure.product-card__img-container
            img.product-card__img-item(src="../../assets/icons/bt_add_to_cart.svg")
.product-card
    img.product-card__image(src="../../assets/img/produc-img.jpg", alt="")
    .product-card__product-info-container
        .product-card__text-container
            span.product-card__cost $120.00
            span.product-card__bike Bike
        figure.product-card__img-container
            img.product-card__img-item(src="../../assets/icons/bt_add_to_cart.svg")
.product-card
    img.product-card__image(src="../../assets/img/produc-img.jpg", alt="")
    .product-card__product-info-container
        .product-card__text-container
            span.product-card__cost $120.00
            span.product-card__bike Bike
        figure.product-card__img-container
            img.product-card__img-item(src="../../assets/icons/bt_add_to_cart.svg")