.c-shopping-cart.o-shopping-cart
    .c-shopping-cart__menu
        img(src="../../assets/icons/flecha-atras.svg", alt="").c-shopping-cart__icono-atras
        span.c-shopping-cart__titulo Shopping cart
    .c-shopping-cart__items-container
        .c-shopping-cart__item.o-shopping-cart__item
            img.c-shopping-cart__item-image(src="../../assets/img/item-image.png", alt="")
            span.c-shopping-cart__item-name Tarjetas de regalo
            span.c-shopping-cart__item-cost $ 240,00
            img.c-shopping-cart__item-remove(src="../../assets/icons/icon_close.png", alt="")
        .c-shopping-cart__item.o-shopping-cart__item
            img.c-shopping-cart__item-image(src="../../assets/img/item-image.png", alt="")
            span.c-shopping-cart__item-name Round shelf
            span.c-shopping-cart__item-cost $ 120,00
            img.c-shopping-cart__item-remove(src="../../assets/icons/icon_close.png", alt="")
        .c-shopping-cart__item.o-shopping-cart__item
            img.c-shopping-cart__item-image(src="../../assets/img/item-image.png", alt="")
            span.c-shopping-cart__item-name Laptop
            span.c-shopping-cart__item-cost $ 2120,00
            img.c-shopping-cart__item-remove(src="../../assets/icons/icon_close.png", alt="")
        .c-shopping-cart__item.o-shopping-cart__item
            img.c-shopping-cart__item-image(src="../../assets/img/item-image.png", alt="")
            span.c-shopping-cart__item-name Monitor
            span.c-shopping-cart__item-cost $ 1020,00
            img.c-shopping-cart__item-remove(src="../../assets/icons/icon_close.png", alt="")
    .c-shopping-cart__total-container.o-resaltador
        span.c-shopping-cart__titulo-total-container Total
        span.c-shopping-cart__total-precio-total-container $ 560.00
    .c-shopping-cart__button-checkout.o-button-verde Checkout